<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSU-IIT | Course Recommendation System</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/logo.png" rel="icon">
    <link href="../static/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets2/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets2/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/assets2/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../static/assets2/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets2/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
       

    <!-- Template Main CSS File -->
    <link href="../static/assets2/css/style.css" rel="stylesheet">
    <link href="../static/assets2/css/student_about.css" rel="stylesheet">

</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/student/dashboard" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">MSU-IIT CRIS</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        </li><!-- End Search Icon-->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <i class="fa-solid fa-user-large"></i>
          <span class="dropdown-toggle ps-2">Account</span>
          </a>
          <!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ f_name }} {{ l_name }}</h6>
              <span>{{ role }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center transition-link" href="/student/profile">
                  <span>Profile</span>
                </a>
              </li>
              <hr class="dropdown-divider">
            <li>
              <a class="dropdown-item d-flex align-items-center transition-link" href="{{ url_for('logout') }}">
                <i class="bi bi-box-arrow-right transition-link"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/dashboard' else '' }}" href="/student/dashboard">
                  <i class="bx bxs-dashboard"></i>
                  <span>Dashboard</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/profile' else '' }}" href="/student/profile">
                  <i class="ri-contacts-line"></i>
                  <span>Profile</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/grades' else '' }}" href="/student/grades">
                  <i class="ri-book-open-line"></i>
                  <span>Grades</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/recommendation' else '' }}" href="/student/recommendation">
                  <i class="ri-briefcase-fill"></i>
                  <span>Recommendation</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/courses' else '' }}" href="/student/courses">
                  <i class="ri-service-fill"></i>
                  <span>Courses</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == '/student/about' else '' }}" href="/student/about">
                  <i class="bx bxs-business"></i>
                  <span>About</span>
              </a>
          </li>
  
      </ul>
  
    </aside><!-- End Sidebar-->

    <!-- Main Body -->
    <main id="main" class="main">
        <br>
        <h3 class="about_title">University Buildings</h3>
        <br>
        <div class="card-container d-flex flex-row flex-wrap justify-content-start">
            <a href="https://www.msuiit.edu.ph/admissions/" target="_blank">
            <div class="card m-3" style="width: 18rem; height: 26rem;" >
              <img src="../static/assets/img/untitled.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><center> Admission </center></h5>
                <p class="card-text"> <center> Office of the Admission </center> </p>
                <p><i class="ri-mail-line" style="font-size:12px"></i><span style="font-size:10px"> admissions@g.msuiit.edu.ph </span></p>
                <p><i class="ri-phone-fill" style="font-size:12px"></i><span style="font-size:10px"> +63 (063) 223 8641</span></p>
              </div>
            </div>
          </a>

        <a href="https://www.msuiit.edu.ph/academics/colleges/coe/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/coe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> COE </center></h5>
            <p class="card-text"> <center> College of Engineering </center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">coe.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCOET</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/ccs/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;" > 
          <img src="../static/assets/img/ccs.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CCS </center></h5>
            <p class="card-text"> <center> College of Computer Studies</center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">scs.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCCS</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/csm/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/csm.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CSM </center></h5>
            <p class="card-text"> <center> College of Science and Mathematics</center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">csm.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCSM</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/nursing/about/history.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/chs.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CHS </center></h5>
            <p class="card-text"> <center> College of Health Sciences </center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">con.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCHS</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/cbaa/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/ceba.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CEBA </center></h5>
            <p class="card-text"> <center> College of Economics and Business Administration </center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">cbaa.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCEBA</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/ced/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/ced.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CED </center></h5>
            <p class="card-text"> <center> College of Education </center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">ced.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCED</span></p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/cass/index.php" target="_blank">
        <div class="card m-3" style="width: 18rem; height: 26rem;">
          <img src="../static/assets/img/cass.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><center> CASS </center></h5>
            <p class="card-text"> <center> College of Arts and Social Sciences </center> </p>
            <p><i class="ri-mail-line"  style="font-size:12px"></i> <span style="font-size:10px">cass.dean@g.msuiit.edu.ph</span> </p>
            <p><i class="ri-facebook-circle-fill" style="font-size:12px"></i><span style="font-size:10px">https://www.facebook.com/MSUIITPHCASS</span></p>
          </div>
        </div>
      </a>
      </div>
      <br>
      <br>
      <h3 class="about_title">About the Project</h3>
      <br>
        <section id="course-recommendation-info">
          <div class="row">
            <div class="col-md-6">
                <img src="../static/assets/img/about.jpg" alt="Course Recommendation" class="img-fluid" style="border-radius: 20px; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);">
            </div>
            <div class="col-md-6">
                <h3 style="font-size: 25px;"><span class="t_span">C</span>ourse <span class="t_span">R</span>ecommendation <span class="t_span">I</span>nformation <span class="t_span">S</span>ystem</h3>
                <p style="text-align: justify; font-family: Open Sans, sans-serif;">
                    The Course Recommendation Information System is designed to assist students in selecting courses that align with their academic profiles and strengths. Developed by the Center for Computational Analytics and Modeling (CCAM) at the Premier Research Institute of Science and Mathematics (PRISM), this innovative system employs data-driven analysis and clustering techniques to understand student demographics and academic indicators.
                </p>
                <p style="text-align: justify">
                    By analyzing factors such as high school performance, socioeconomic background, entrance exam scores, and other relevant data, the system generates personalized course recommendations that align with students' strengths. This approach not only enhances students' academic experiences but also supports their long-term success by ensuring they are placed in courses where they are more likely to excel.
                </p>
                <p style="text-align: justify">
                    This project is funded by the Office of the Vice Chancellor for Research and Enterprise (OVCRE), demonstrating MSU-IIT’s commitment to advancing research and educational technology. Through initiatives like this, MSU-IIT strives to foster a more inclusive and effective learning environment.
                </p>
            </div>
          </div>
          <br>
          <br>
          <h3 class="about_title">Project Team</h3>
          <br>
          <div class="team-list">
            <div class="team-member">
                <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 1">
                <h3>Daisy Lou L. Polestico</h3>
                <h4><b>(CSM)</b></h4>
                <p>Project Leader</p>
            </div>
            <div class="team-member">
                <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 2">
                <h3>Genevieve D. Benegrado</h3>
                <h4><b>(OASA)</b></h4>
                <p>Co-Project Leader</p>
            </div>
            <div class="team-member">
                <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 3">
                <h3>Prof. Alizedney M. Ditucalan</h3>
                <h4><b>(OC)</b></h4>
                <p>Project Consultant</p>
            </div>
            <div class="team-member">
                <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 4">
                <h3>Dr. Arnulfo P. Supe</h3>
                <h4><b>(CSM)</b></h4>
                <p>Project Consultant</p>
            </div>
        </div>
        <h5 class="about_title">Project Members</h5>
        <br>
          <div class="team-list">
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 5">
              <h3>Johniel E. Babiera</h3>
              <h4><b>(CSM)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 6">
              <h3>Richard M. Micubo</h3>
              <h4><b>(ICTC)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 7">
              <h3>Jennifer Joyce M. Montemayor</h3>
              <h4><b>(CCS)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 8">
              <h3>Aljo Clair P. Pingal</h3>
              <h4><b>(CSM)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 9">
              <h3>Calixto G. Elnas</h3>
              <h4><b>(CSM)</b></h4>
            </div> 
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 10">
              <h3>Nancy Q. Echavez</h3>
              <h4><b>(CASS/OVCPA)</b></h4>
            </div> 
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 11">
              <h3>Redeemtor Sacayan</h3>
              <h4><b>(CSM)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 12">
              <h3>Ricardo C. Enguito</h3>
              <h4><b>(OUR)</b></h4>
            </div>
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 13">
              <h3>AJ Jhone S. Lacubtan</h3>
              <h4><b>(Student, CSM)</b></h4>
            </div> 
            <div class="team-member">
              <img src="https://i.pinimg.com/564x/d1/c3/4d/d1c34d28112562d3bddd82774b0d9fbc.jpg" alt="Member 14">
              <h3>John Conrad Seg B. Maisog</h3>
              <h4><b>(Student, CSM)</b></h4>
            </div> 
          </div>
      </section>    
    </main>
    

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="../static/assets2/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets2/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/assets2/vendor/echarts/echarts.min.js"></script>
  <script src="../static/assets2/vendor/quill/quill.min.js"></script>
  <script src="../static/assets2/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/assets2/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/assets2/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="../static/assets2/js/main.js"></script>
    
  </body>

</html>