<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSU-IIT | Program Recommendation Information System</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/logo.png" rel="icon">
    <link href="../static/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets2/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets2/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/assets2/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../static/assets2/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets2/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
       

    <!-- Template Main CSS File -->
    <link href="../static/assets2/css/style.css" rel="stylesheet">
    <link href="../static/assets2/css/student_about.css" rel="stylesheet">

</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('student_dashboard') }}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">MSU-IIT PRIS</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        </li><!-- End Search Icon-->
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <i class="fa-solid fa-user-large"></i>
          <span class="dropdown-toggle ps-2">Account</span>
          </a>
          <!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ f_name }} {{ l_name }}</h6>
              <span>{{ role }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
                <a class="dropdown-item d-flex align-items-center transition-link" href="{{ url_for('student_profile') }}">
                  <span>Profile</span>
                </a>
            </li>
              <hr class="dropdown-divider">
            <li>
              <a class="dropdown-item d-flex align-items-center transition-link" href="{{ url_for('logout') }}">
                <i class="bi bi-box-arrow-right transition-link"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == url_for('student_dashboard') else '' }}" href="{{ url_for('student_dashboard') }}">
                  <i class="bx bxs-dashboard"></i>
                  <span>Dashboard</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == url_for('student_profile') else '' }}" href="{{ url_for('student_profile') }}">
                  <i class="ri-contacts-line"></i>
                  <span>Profile</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == url_for('student_grades') else '' }}" href="{{ url_for('student_grades') }}">
                  <i class="ri-book-open-line"></i>
                  <span>Grades</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == url_for('student_recommendation') else '' }}" href="{{ url_for('student_recommendation') }}">
                  <i class="ri-briefcase-fill"></i>
                  <span>Recommendation</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link collapsed {{ 'active' if request.path == url_for('student_about') else '' }}" href="{{ url_for('student_about') }}">
                  <i class="bx bxs-business"></i>
                  <span>About</span>
              </a>
          </li>  
      </ul>
  
    </aside><!-- End Sidebar-->

    <!-- Main Body -->
    <main id="main" class="main">
      <!-- <h3 class="about_title">About the System</h3> -->
      <br>
        <section id="course-recommendation-info">
          <div class="row">
            <div class="col-md-6">
                <img src="../static/assets/img/about.jpg" alt="Course Recommendation" class="img-fluid" style="border-radius: 20px; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);">
            </div>
            <div class="col-md-6">
                <h3 style="font-size: 25px;">MSU-IIT <span class="t_span">P</span>rogram <span class="t_span">R</span>ecommendation <span class="t_span">I</span>nformation <span class="t_span">S</span>ystem (PRIS)</h3>
                <div style="background: linear-gradient(to right, #9c0d0f, #ffd000); height: 2px; margin-bottom: 20px;"></div>
                <p style="text-align: justify; font-family: Open Sans, sans-serif;">
                    &nbsp;&nbsp;&nbsp;&nbsp;The MSU-Iligan Institute of Technology (MSU-IIT) proudly introduces the Program Recommendation Information System (PRIS), an advanced, data-driven tool designed to guide prospective students in selecting academic programs aligned with their unique profiles. Developed by the Center for Computational Analytics and Modelling at PRISM and funded by the Office of the Vice Chancellor for Research and Enterprise (OVCRE), MSU-IIT PRIS is a pioneering initiative aimed at enhancing academic advising through intelligent recommendations.
                <h3 class="about_title" style="font-size: 20px;">About the System</h3>
                  </p>
                <p style="text-align: justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;At the forefront of PRIS’s development are Professor Daisy Lou L. Polestico and Associate Professor Johniel E. Babiera, who have applied sophisticated predictive and segmentation modeling techniques to create an intuitive recommendation system. PRIS assesses key aspects of each student’s profile—including high school academic performance, socio-economic background, and the MSU-IIT System Admission and Scholarship Examination (SASE) score—to recommend programs that best align with their skills, interests, and career aspirations.
                </p>
            </div>
          </div>
          <br>
          <div>
            <h3 class="about_title" style="font-size: 25px;">How it Works</h3>
            <p style="text-align: justify; font-family: Open Sans, sans-serif;">PRIS intelligently matches each student's profile with a curated list of academic programs that reflect their strengths and preferences. The system provides students with:</p>
            <ul style="text-align: justify; font-family: Open Sans, sans-serif;">
                <li>A tailored set of recommended programs, optimized for their individual profiles.</li>
                <li>Guidance through the curriculum of each recommended program.</li>
                <li>Insights into potential career pathways associated with each program, aiding students in making informed decisions about their academic and professional futures.</li>
            </ul>
          </div>
          <br>
          <h3 class="about_title" style="font-size: 25px;">A Commitment to Educational Innovation</h3>
          <p style="text-align: justify; font-family: Open Sans, sans-serif;">
            &nbsp;&nbsp;&nbsp;&nbsp;The MSU-IIT PRIS exemplifies the university’s commitment to integrating research and technology into educational guidance. As a one-stop career guidance platform, PRIS reflects MSU-IIT’s dedication to fostering a supportive, inclusive, and efficient learning environment for all students. Through innovations like PRIS, MSU-IIT remains at the forefront of enhancing student success and promoting academic excellence.
            For more information on MSU-IIT PRIS or to explore potential academic pathways, please contact the Center for Computational Analytics and Modelling at PRISM.
          </p>
        <br>
        <br>
        <h3 class="about_title">University Buildings</h3>
        <br>
        <div class="card-container d-flex flex-row flex-wrap justify-content-start">
            <a href="https://www.msuiit.edu.ph/admissions/" target="_blank" class="col-12 col-md-4 p-2">
            <div class="card h-100">
              <img src="../static/assets/img/untitled.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title text-center mb-1">Admission</h5>
                <h6 class="card-subtitle mb-2">Office of the Admission</h6>
                <p class="d-flex align-items-center mt-4" style="text-align:left;">
                  <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
                  <span style="font-size:12px; color: #530809;">admissions@g.msuiit.edu.ph</span>
                </p>
                <p class="d-flex align-items-center" style="text-align:left;">
                  <i class="ri-phone-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
                  <span style="font-size:12px; color: #530809;"> +63 (063) 223 8641</span>
                </p>
              </div>
            </div>
          </a>

        <a href="https://www.msuiit.edu.ph/academics/colleges/coe/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/coe.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">COE</h5>
            <h6 class="card-subtitle mb-2">College of Engineering</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">coe.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCOET</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/ccs/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100"> 
          <img src="../static/assets/img/ccs.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CCS</h5>
            <h6 class="card-subtitle mb-2">College of Computer Studies</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">scs.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCCS</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/csm/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/csm.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CSM</h5>
            <h6 class="card-subtitle mb-2">College of Science and Mathematics</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">csm.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCSM</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/nursing/about/history.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/chs.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CHS</h5>
            <h6 class="card-subtitle mb-2">College of Health Sciences</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">con.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCHS</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/cbaa/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/ceba.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CEBA</h5>
            <h6 class="card-subtitle mb-2">College of Economics and Business Administration</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">cbaa.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCEBA</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/ced/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/ced.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CED</h5>
            <h6 class="card-subtitle mb-2">College of Education</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i> 
              <span style="font-size:12px; color: #530809;">ced.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCED</span>
            </p>
          </div>
        </div>
      </a>

      <a href="https://www.msuiit.edu.ph/academics/colleges/cass/index.php" target="_blank" class="col-12 col-md-4 p-2">
        <div class="card h-100">
          <img src="../static/assets/img/cass.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title text-center mb-1">CASS</h5>
            <h6 class="card-subtitle mb-2">College of Arts and Social Sciences</h6>
            <p class="d-flex align-items-center mt-4" style="text-align:left;">
              <i class="ri-mail-line" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">cass.dean@g.msuiit.edu.ph</span>
            </p>
            <p class="d-flex align-items-center" style="text-align:left;">
              <i class="ri-facebook-circle-fill" style="font-size:15px; margin-right: 5px; color: #530809;"></i>
              <span style="font-size:12px; color: #530809;">https://www.facebook.com/MSUIITPHCASS</span>
            </p>
          </div>
        </div>
      </a>
      </div>
      <br>    
    </main>
    

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="../static/assets2/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets2/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/assets2/vendor/echarts/echarts.min.js"></script>
  <script src="../static/assets2/vendor/quill/quill.min.js"></script>
  <script src="../static/assets2/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/assets2/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/assets2/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="../static/assets2/js/main.js"></script>
    
  </body>

</html>