body {
    background: #cdcdcd;
  }
  
  .sidebar-nav .nav-link.active {
    background-color: #F7D953; 
  }
  
  .sidebar-nav .nav-link.active span{
    color: #A31A23; 
  }
  
  .sidebar-nav .nav-link.active .bx.bxs-dashboard,
  .sidebar-nav .nav-link.active .ri-service-fill,
  .sidebar-nav .nav-link.active .bxs-business {
    color: #A31A23; 
  }

  @media (max-width: 768px) {
    #bar_track, #pie_gender {
        height: 200px;
    }
}